/*Padroes*/
.centerlyt{ width: 984px; margin: 0 auto;}
.shadowBottom{ box-shadow: 0px 1px 5px #888;}
.radius{border-radius: 5px;}
.radiusBottom{ border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;}
.borderTopRed{ border-top: 3px solid #ff0000;}
.borderBottomGreen{ margin-bottom: 5px; border-bottom: 3px solid #009900;}
.borderBottomPurple{ margin-bottom: 5px; border-bottom: 3px solid #a60ac2;}
.borderBottomBlue{ margin-bottom: 5px; border-bottom: 3px solid #0067bc;}
.borderBottomYellow{ margin-bottom: 5px; border-bottom: 3px solid #bcb000;}
.marginBottom{ margin-bottom: 10px;}
.vinPag{ width: 100%; float: left;}
.btnVertodos{ padding-bottom: 3px; float: right;}
nav{ width: 100%; float: left;}
body{ background: #fff4f4;}

/*Topo*/
header{ width: 100%; height: 74px; margin-bottom: 10px; position: fixed; z-index: 1000; background: #ff7212;}
#topo{ width: 100%; float: left;}
.menu{ width: 76px; padding: 25px 0 0 0; float: left;}
.menu a{ text-decoration: none;}

#menu{ width: 100%; margin: 74px 0 0 0; padding: 10px; position: fixed; z-index: 1; background: #fff; display: none;}
aside{ width: 200px; border-right: 1px solid #999999; float: left;}
aside ul{ display: block;}
aside ul li{ width: 100%; padding: 5px 0; float: left;}
aside ul li a{ color: #000;}
aside ul li a:hover{ color: #ff7212; text-decoration: none;}

.busca{ width: 26.9%; padding: 20px 0 0 20px; float: left;}
.busca input[type=search]{ width: 100%; padding: 5px 35px 5px 5px; border-radius: 25px; float: left; }
.busca .btnBusca{ width: 30px; margin: 8px 0 0 -35px; background: #fff; position: absolute;}
.logo{ width: 470px; height: 74px; padding: 7px 0 0 161px; margin: 0 0 0 -100px; float: left; background: url('../images/bg-logo.png') no-repeat;}
.dataTopo{ padding: 20px 0 0 0; float: right;}

/*Capa*/
.capa{ width: 100%; margin: 90px 0 0 0; float: left;}
.blcDestaqueNews{ width: 100%; float: left;}
.vinDestaqueNews{}
.boxDestaqueNews{ width: 100%; padding: 10px; float: left; background: #fff;}
.destaqueNewsBig{ width: 326px; float: left;}
.destaqueNewsBigImg{ width: 100%; height: 200px; float: left;}
.destaqueNewsBigDados{ width: 100%; float: left;}
.destaqueNewsBigDadosCat{ float: left; padding-top: 2px; border-bottom: 1px solid #ff0000;}
.destaqueNewsBigDadosTit{ width: 100%; padding-top: 2px; float: left;}
.destaqueNewsBigDadosTit:hover{ width: 100%; color: #ff7212; padding-top: 2px; float: left;}

.destaqueNewsSmall{ width: 290px; margin-left: 10px; float: left;}
.destaqueNewsSmallItem{ width: 100%; height: 85px; float: left; margin-bottom: 10px;}
.destaqueNewsSmallItemImg{ width: 115px; height: 85px; float: left;}
.destaqueNewsSmallItemTit{ width: 175px; height: 85px; float: left; padding-left: 5px; }
.destaqueNewsSmallItemTit:hover{ width: 175px; height: 85px; float: left; color: #ff7212;  padding-left: 5px; }

.blcPublicidade{ width: 100%; float: left; padding: 3px; background: #fff;}
.vinPublicidade{}
.boxPublicidade{ width: 100%; height: 312px; float: left;}
.boxPublicidadeFull{ width: 100%; height: 150px; float: left;}

.blcMaisNews{ width: 100%; float: left;}
.boxMaisNews{ width: 100%; float: left; background: #fff;}
.boxMaisNewImg{ width: 100%; height: 170px; float: left;}
.boxMaisNewsDados{ width: 100%; height: 175px; padding: 0 5px; float: left;}
.boxMaisNewsDadosCat{float: left; padding-top: 2px; border-bottom: 1px solid #ff0000;}
.boxMaisNewsDadosTit{ width: 100%; float: left;}
.boxMaisNewsDadosTit:hover{ width: 100%; color: #ff7212; float: left;}

.boxMaisNewsBigImg{ width: 25.6%; height: 108px; padding-left: 2px; float: left;}
.boxMaisNewsBigDados{ width: 74.4%; padding-left: 10px; float: left;}
.boxMaisNewsSmallImg{ width: 45.1%; height: 108px; padding-left: 2px; float: left;}
.boxMaisNewsSmallDados{ width: 54.9%; padding-left: 5px; float: left;}
.boxMaisNewsFull{ width: 100%; height: 233px; float: left;}
.boxMaisNewsFullDados{ width: 93%; position: absolute; bottom: 0; padding: 5px; background: #000;}

.boxMaisNewsCat{ float: left; padding-top: 2px; border-bottom: 1px solid #ff0000;}
.boxMaisNewsTit{ width: 100%; padding-top: 5px; float: left;}
.boxMaisNewsTit:hover{ width: 100%; padding-top: 5px; color: #ff7212; float: left;}
.boxMaisNewsDateTime{ width: 100%; bottom: 0; position: absolute;}
.boxMaisNewsDate{ width: 100%; float: left;}

.blcCoberturas{width: 100%; float: left;}
.vinCoberturas{}
.boxCoberturas{width: 100%; float: left; background: #fff;}
/*Style do Slide*/
section#slide{ width: 561px; height: 320px; background: #FFF; display: block; overflow: hidden;}
section#slide section#buttons{ display: none; position: absolute; margin: 5px; z-index: 500; }
section#slide section#buttons a{ background: #bcb000; width: 50px; height: 40px; display: inline-block; text-align: center;
                                 line-height: 40px; font: bold 22pt Arial, "Helvetica Neue", Hevetica, sans-serif; color: #fff700;
                                 text-decoration: none;}
section#slide section#buttons a:hover{ background: #999900;}
section#slide ul{ list-style: none; display: table; position: relative;}
section#slide ul li{  width: 561px; height: 320px; display: inline-block; position: relative;}
section#slide ul li img{ width: 100%; height: 100%;}
section#slide ul li span{ width: 600px; background: #bcb000; display: table; padding: 10px; position: absolute; bottom: 0; margin: 10px 0 10px 56px;
                          font: 12pt "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif; color: #FFF; border-left: 10px solid #999900; /*border-right: 5px solid #ffff40;*/}

.blcFlyers{width: 100%; float: left;}
.vinFlyers{}
.boxFlyers{width: 100%; height: 320px; padding: 5px; float: left; background: #fff;}

.blcVideo{width: 100%; float: left;}
.boxVideo{width: 100%; float: left; margin-bottom: 10px; background: #fff;}
.boxVideoImg{ width: 225px; height: 110px; margin: 4px; float: left;}
.boxVideoTit{ width: 100%; height: 40px; margin: 4px; float: left;}

.boxRolnewsTv{ width: 100%; float: left;}
/*Rodape*/
footer{ width: 100%; height: 74px; float: left; background: #ff7212;}
.copyright{ float: left;}
.logoRodape{ width: 65px; height: 54px; float: left; padding: 10px 0 0 0;}
.txtCopyright{ padding: 20px 0 0 10px; float: left;}
.developer{ padding: 20px 0 0 0; float: right;}

/*Noticias*/
.news{ width: 100%; padding: 5px; float: left; background: #FFF;}
.blcNews{ width: 100%; float: left;}
.boxNews{ width: 100%; padding: 5px; margin-bottom: 5px; float: left; background: #ececec;}
.boxNewsImg{ width: 110px; height: 80px; float: left;}
.boxNewsDados{ width: 844px; margin-left: 10px; float: left; }
.boxNewsDadosDtHr{ width: 100%; float: left;}
.boxNewsDadosTit{ width: 100%; float: left;}
.boxNewsDadosPrev{ width: 100%; float: left;}

/*Noticia*/
.headline{ width: 100%; float: left;}
.headline h1{ width: 100%; font-size: 4rem; float: left; }
.headline h2{ width: 100%; font-size: 2rem; margin: -5px 0 0 0; float: left;}
.headline h3{ width: 100%; font-size: 1.5rem; margin: 5px 0 0 0; float: left;}
.socialNews{ float: right; padding-bottom: 10px;}
.noticiaImg{ width: 480px; margin: 5px 5px 5px 0px; float: left;}
.noticiaTxt{ width: 100%; font-size: 1.6rem;}

/*Video*/
.videoPlayer{ width: 100%; float: left; background: #FFF; margin-bottom: 10px; padding: 10px;}
.videoSocial{ float: right;}
.frameBox{ width: 640px; margin: 0 auto;}
.videoPlayer iframe{ width: 640px; height: 360px;}
.maxLogo{ width: 100%; float: left;}

/*Contato*/
.breadcrumb{ background: #FFF;}